<!DOCTYPE html>
<html>
  <head>
    <title>Vue Cart</title>
    <meta charset="UTF-8" />
    <link href="src/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img v-bind:src="image" />
        </div>
        <div class="product-info">
          <h1>{{product}}</h1>
          <p>{{description}}</p>
          <p v-if="inStock">In Stock</p>
          <p v-else>Out of Stock</p>
          <p v-if="onSale">On Sale</p>

          <ul>
            <li v-for="detail in details">{{detail}}</li>
          </ul>

          <ul>
            <li v-for="variant in variants" :key="variant.variantId">
              <p @mouseover="updateImage(variant.variantImage)">
                {{variant.variantColor}}
              </p>
            </li>
          </ul>
          <div class="cart">
            Cart {{cart}}
          </div>
          <button v-on:click="addToCart">Add to cart</button>
          <button v-on:click="removeFromCart">Remove from cart</button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="src/index.js"></script>
  </body>
</html>
